<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings>
    <add name="sqlconnectionString" 
         connectionString="server=127.0.0.1;database=Test;User=sa;password=abc123;Connect Timeout=1000000"> 
    </add>
    <add name="mysqlconnectionString" 
         connectionString="Database=mysql;Data Source=127.0.0.1;User Id=root;Password=root;CharSet=utf8;port=3306"> 
    </add>
</connectionStrings>
</configuration>
